@import "fn";

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.pull-right {
  float: right;
}

.mt-15 {
  margin-top: 15px;
}

.mt-30 {
  margin-top: 30px;
}

//colors
.dark-gray {
  color: darkgray;
}

.light-gray {
  color: lightgray;
}

.orange {
  color: #E99A97;
}

.red {
  color: red;
}

.white {
  color: #FFFFFF;
}

.spacing {
  padding: 15px;
}

.child-hidden * {
  display: none;
}