@import "../../base/fn";

.kakaui-navbar {
    display: flex;
    position: relative;
    z-index: 500;
    top: 0;
    width: 100%;
    background-color: #FFFFFF;
    flex-basis: 50px;
    color: #b3b3b3;

    &:after {
        //.setBottomLine(#CCCCCC);
    }

    //& + .kakaui-tab__panel {
    //    padding-top: 50px;
    //    padding-bottom: 0;
    //}
}

.kakaui-navbar__item {
    position: relative;
    display: block;
    flex: 1;
    padding: 13px 0;
    text-align: center;
    font-size: 15px;
    .setTapColor();

    &:active {
        //background-color: #EDEDED;
    }

    &.kakaui-bar__item_on {
        //background-color: #EAEAEA;
        color: #E24F47;
        &:before {
            border-color: #E24F47;
        }
    }

    &:after {
        .setRightLine(#CCCCCC, 10px);
    }

    &:before {
        .setBottomLine(#F1F1F1);
        border-width: 3px;
    }

    &:last-child {
        &:after {
            display: none;
        }
    }
}