@import "../../base/fn";
@import "kakaui-tabbar";
@import "kakaui-navbar";

.kakaui-tab {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.kakaui-tab__panel {
    box-sizing: border-box;
    height: 100%;
    //padding-bottom: 50px;
    overflow: auto;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    flex: 1;
}

.kakaui-tab__content{
    display: none;
    &.kakaui-tab__content_on {
        display: block;
    }
}