<div class="page">
    <div class="kakaui-msg">
        <div class="kakaui-msg__icon-area"><i class="kakaui-icon-success kakaui-icon_msg"></i></div>
        <div class="kakaui-msg__text-area">
            <h2 class="kakaui-msg__title">操作成功</h2>
            <p class="kakaui-msg__desc">内容详情，可根据实际需要安排，如果换行则不超过规定长度，居中展现<a href="javascript:void(0);">文字链接</a></p>
        </div>
        <div class="kakaui-msg__opr-area">
            <p class="kakaui-btn-area">
                <a href="javascript:history.back();" class="kakaui-btn kakaui-btn_primary">推荐操作</a>
                <a href="javascript:history.back();" class="kakaui-btn kakaui-btn_default">辅助操作</a>
            </p>
        </div>
        <div class="kakaui-msg__extra-area">
            <div class="kakaui-footer">
                <p class="kakaui-footer__links">
                    <a href="javascript:void(0);" class="kakaui-footer__link">底部链接文本</a>
                </p>
                <p class="kakaui-footer__text">Copyright &copy; 2008-2016 kakaui.io</p>
            </div>
        </div>
    </div>
</div>