<div class="page">
    <div class="page__hd">
        <h1 class="page__title">ActionSheet</h1>
        <p class="page__desc">弹出式菜单</p>
    </div>
    <div class="page__bd page__bd_spacing">
        <a href="javascript:;" class="kakaui-btn kakaui-btn_default kakaui-actionsheet__trigger" data-target="iosActionsheet" id="showIOSActionSheet">iOS ActionSheet</a>
        <a href="javascript:;" class="kakaui-btn kakaui-btn_default kakaui-actionsheet__trigger" data-target="androidActionsheet" data-style="android" id="showAndroidActionSheet">Android ActionSheet</a>
    </div>
    <!--BEGIN actionSheet-->
    <div>
        <div class="kakaui-mask" id="iosMask" style="display: none"></div>
        <div class="kakaui-actionsheet" id="iosActionsheet">
            <div class="kakaui-actionsheet__menu">
                <div class="kakaui-actionsheet__cell">示例菜单</div>
                <div class="kakaui-actionsheet__cell">示例菜单</div>
                <div class="kakaui-actionsheet__cell">示例菜单</div>
                <div class="kakaui-actionsheet__cell">示例菜单</div>
            </div>
            <div class="kakaui-actionsheet__action">
                <div class="kakaui-actionsheet__cell kakaui-actionsheet__cancel" id="iosActionsheetCancel">取消</div>
            </div>
        </div>
    </div>

    <div class="kakaui-skin_android" id="androidActionsheet" style="display: none">
        <div class="kakaui-mask"></div>
        <div class="kakaui-actionsheet">
            <div class="kakaui-actionsheet__menu">
                <div class="kakaui-actionsheet__cell">示例菜单</div>
                <div class="kakaui-actionsheet__cell">示例菜单</div>
                <div class="kakaui-actionsheet__cell">示例菜单</div>
            </div>
        </div>
    </div>
    <!--END actionSheet-->
    <div class="page__ft">
        <a href="javascript:home()"><img src="./images/icon_footer_link.png" /></a>
    </div>
</div>