<div class="page">
    <div class="page__navigator">
        <a class="page__navigator_left kakaui-icon-left-arrow"></a>
        <h1 class="page__title">
            尾款支付
        </h1>
        <a class="page__navigator_right">
            <img class="kakaui__logo" src="../../kakaui/images/kaka/logo_sm.png" alt="卡卡客服">
        </a>
    </div>
    <div class="page__bd">
        <div class="kakaui-panel kakaui-panel_access">
            <div class="kakaui-panel__bd photo-truing">
                <div class="kakaui-media-box kakaui-media-box_text">
                    <div class="kakaui-media-box__bd">
                        <p class="kakaui-media-box__desc">
                            预约套系: A8 599满月A+套系
                        </p>
                        <p class="kakaui-media-box__desc">
                            拍摄时间: 2016.06.01
                        </p>
                        <p class="kakaui-media-box__desc">
                            拍摄地点: 河南省郑州市曼哈顿商业广场801
                        </p>
                        <p class="kakaui-media-box__desc kakaui-prices">
                            <span class="kakaui-price__origin">原价:<span class="text-revoke">￥999.00</span></span>
                            <span class="kakaui-price__discount">折扣价:￥699.00</span>
                        </p>
                    </div>
                </div>
                <div class="kakaui-cell">
                    <div class="kakaui-cell__hd"><label class="kakaui-label">尾款金额:</label></div>
                    <div class="kakaui-cell__bd">
                        ￥600.00
                    </div>
                </div>
                <a href="javascript:void(0);" class="kakaui-cell kakaui-cell_access">
                    <div class="kakaui-cell__bd">
                        <p class="kakaui-media-box__desc">
                            优惠券:
                        </p>
                    </div>
                    <span class="kakaui-cell__ft"></span>
                </a>
                <div class="kakaui-cell">
                    <div class="kakaui-cell__hd">
                        <label class="kakaui-label">需付金额:</label>
                    </div>
                    <div class="kakaui-cell__bd">
                        <span class="red">￥600.00</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="kakaui-btn-area">
            <button class="kakaui-btn kakaui-btn_orange">确认支付</button>
        </div>
    </div>
</div>