<div class="page">
    <div class="page__navigator">
        <a class="page__navigator_back kakaui-icon-left-arrow"></a>
        <h1 class="page__title">
            卡卡印品
        </h1>
    </div>
    <div class="page__bd page__bd_spacing">
        <a href="javascript:;" class="kakaui-btn kakaui-btn_primary">页面主操作 Normal</a>
        <a href="javascript:;" class="kakaui-btn kakaui-btn_disabled kakaui-btn_primary">页面主操作 Disabled</a>
        <a href="javascript:;" class="kakaui-btn kakaui-btn_default">页面次要操作 Normal</a>
        <a href="javascript:;" class="kakaui-btn kakaui-btn_disabled kakaui-btn_default">页面次要操作 Disabled</a>
        <a href="javascript:;" class="kakaui-btn kakaui-btn_warn">警告类操作 Normal</a>
        <a href="javascript:;" class="kakaui-btn kakaui-btn_disabled kakaui-btn_warn">警告类操作 Disabled</a>
        <a href="javascript:;" class="kakaui-btn kakaui-btn_orange">橘红色 Normal</a>
        <a href="javascript:;" class="kakaui-btn kakaui-btn_disabled kakaui-btn_orange">橘红色 Disabled</a>
        <a href="javascript:;" class="kakaui-btn kakaui-btn_yellow">黄色 Normal</a>
        <a href="javascript:;" class="kakaui-btn kakaui-btn_disabled kakaui-btn_yellow">黄色 Disabled</a>
        
        <div class="button-sp-area">
            <a href="javascript:;" class="kakaui-btn kakaui-btn_plain-default">按钮</a>
            <a href="javascript:;" class="kakaui-btn kakaui-btn_plain-default kakaui-btn_plain-disabled">按钮</a>
            <a href="javascript:;" class="kakaui-btn kakaui-btn_plain-primary">按钮</a>
            <a href="javascript:;" class="kakaui-btn kakaui-btn_plain-primary kakaui-btn_plain-disabled">按钮</a>
            <a href="javascript:;" class="kakaui-btn kakaui-btn_mini kakaui-btn_primary">按钮</a>
            <a href="javascript:;" class="kakaui-btn kakaui-btn_mini kakaui-btn_default">按钮</a>
            <a href="javascript:;" class="kakaui-btn kakaui-btn_mini kakaui-btn_warn">按钮</a>
        </div>

        <a href="javascript:;" class="kakaui-btn kakaui-btn_sm kakaui-btn_primary">按钮</a>
        <a href="javascript:;" class="kakaui-btn kakaui-btn_sm kakaui-btn_default">按钮</a>
        <a href="javascript:;" class="kakaui-btn kakaui-btn_sm kakaui-btn_warn">按钮</a>

        <div class="kakaui-btn-group">
            <a href="javascript:;" class="kakaui-btn kakaui-btn_yellow">黄色 Normal</a>
            <a href="javascript:;" class="kakaui-btn kakaui-btn_orange">橘红色 Normal</a>
        </div>
    </div>
    <div class="page__ft">
        <a href="javascript:home()"><img src="./images/icon_footer_link.png" /></a>
    </div>
</div>