<div class="page">
    <div class="page__navigator">
        <a class="page__navigator_left kakaui-icon-left-arrow"></a>
        <h1 class="page__title">
            我要评价
        </h1>
        <a class="page__navigator_right">
            <img class="kakaui__logo" src="../../kakaui/images/kaka/logo_sm.png" alt="卡卡客服">
        </a>
    </div>
    <div class="page__bd">
        <div class="kakaui-cells kakaui-cells_form">
            <div class="kakaui-cell">
                <div class="kakaui-cell__hd"><label class="kakaui-label">综合评价：</label></div>
                <div class="kakaui-cell__bd">
                    <ul class="kakaui-stars">
                        <li class="stared">
                            <i class="kakaui-icon-star"></i>
                        </li>
                        <li class="stared">
                            <i class="kakaui-icon-star"></i>
                        </li>
                        <li class="stared">
                            <i class="kakaui-icon-star"></i>
                        </li>
                        <li class="stared">
                            <i class="kakaui-icon-star"></i>
                        </li>
                        <li class="stared">
                            <i class="kakaui-icon-star"></i>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="kakaui-cell">
                <div class="kakaui-cell__hd">
                    <label class="kakaui-label">服务态度：</label>
                </div>
                <div class="kakaui-cell__bd">
                    <ul class="kakaui-stars">
                        <li class="stared">
                            <i class="kakaui-icon-star"></i>
                        </li>
                        <li class="stared">
                            <i class="kakaui-icon-star"></i>
                        </li>
                        <li class="stared">
                            <i class="kakaui-icon-star"></i>
                        </li>
                        <li class="stared">
                            <i class="kakaui-icon-star"></i>
                        </li>
                        <li>
                            <i class="kakaui-icon-star"></i>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="kakaui-cell">
                <div class="kakaui-cell__hd"><label class="kakaui-label">拍摄质量：</label></div>
                <div class="kakaui-cell__bd">
                    <ul class="kakaui-stars">
                        <li class="stared">
                            <i class="kakaui-icon-star"></i>
                        </li>
                        <li class="stared">
                            <i class="kakaui-icon-star"></i>
                        </li>
                        <li class="stared">
                            <i class="kakaui-icon-star"></i>
                        </li>
                        <li class="stared">
                            <i class="kakaui-icon-star"></i>
                        </li>
                        <li>
                            <i class="kakaui-icon-star"></i>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="kakaui-cell">
                <div class="kakaui-cell__hd"><label class="kakaui-label">后期质量：</label></div>
                <div class="kakaui-cell__bd">
                    <ul class="kakaui-stars">
                        <li class="stared">
                            <i class="kakaui-icon-star"></i>
                        </li>
                        <li class="stared">
                            <i class="kakaui-icon-star"></i>
                        </li>
                        <li class="stared">
                            <i class="kakaui-icon-star"></i>
                        </li>
                        <li class="stared">
                            <i class="kakaui-icon-star"></i>
                        </li>
                        <li>
                            <i class="kakaui-icon-star"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="kakaui-panel kakaui-panel_access">
            <div class="kakaui-panel__bd">
                <div class="kakaui-media-box kakaui-media-box_text">
                    <div class="kakaui-input-labels">
                        <label>
                            <input type="checkbox" name="keywords" value="省心">
                            <span class="kakaui-input-label__text">省心</span>
                        </label>
                        <label>
                            <input type="checkbox" name="keywords" value="准时">
                            <span class="kakaui-input-label__text">准时</span>
                        </label>
                        <label>
                            <input type="checkbox" name="keywords" value="技术一流">
                            <span class="kakaui-input-label__text">技术一流</span>
                        </label>
                        <label>
                            <input type="checkbox" name="keywords" value="拍摄nice">
                            <span class="kakaui-input-label__text">拍摄nice</span>
                        </label>
                        <label>
                            <input type="checkbox" name="keywords" value="后期nice">
                            <span class="kakaui-input-label__text">后期nice</span>
                        </label>
                        <label>
                            <input type="checkbox" name="keywords" value="性价比高">
                            <span class="kakaui-input-label__text">性价比高</span>
                        </label>
                        <label>
                            <input type="checkbox" name="keywords" value="服务热情">
                            <span class="kakaui-input-label__text">服务热情</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="kakaui-cells kakaui-cells_form">
            <div class="kakaui-cell">
                <div class="kakaui-cell__bd">
                    <textarea class="kakaui-textarea" placeholder="写下您对此次拍摄体验的感受和评价吧……" rows="5"></textarea>
                </div>
            </div>
        </div>
        <div class="kakaui-panel kakaui-panel_access">
            <div class="kakaui-panel__bd">
                <div class="kakaui-media-box kakaui-media-box_text">
                    <div class="kakaui-uploader__input-box">
                        <input class="kakaui-uploader__input" type="file" accept="image/*" multiple="">
                    </div>
                    <div class="kakaui-uploader__text">
                        上传图片
                    </div>
                </div>
            </div>
        </div>
        <div class="kakaui-btn-area">
            <button class="kakaui-btn kakaui-btn_orange">发表评论</button>
        </div>
    </div>
</div>