<div class="page">
    <div class="page__navigator">
        <a class="page__navigator_left kakaui-icon-left-arrow"></a>
        <h1 class="page__title">
            客户热评
        </h1>
        <a class="page__navigator_right">
            <img class="kakaui__logo" src="../../kakaui/images/kaka/logo_sm.png" alt="卡卡客服">
        </a>
    </div>
    <div class="page__bd">
        <div class="kakaui-panel kakaui-panel_access">
            <div class="kakaui-panel__bd">
                <div class="kakaui-media-box kakaui-media-box_text">
                    <div class="kakaui-input-labels">
                        <label>
                            <input type="checkbox" name="keywords" value="全部" checked="checked">
                            <span class="kakaui-input-label__text">全部</span>
                        </label>
                        <label>
                            <input type="checkbox" name="keywords" value="有图17">
                            <span class="kakaui-input-label__text">有图(17)</span>
                        </label>
                        <label>
                            <input type="checkbox" name="keywords" value="技术一流123">
                            <span class="kakaui-input-label__text">技术一流(123)</span>
                        </label>
                        <label>
                            <input type="checkbox" name="keywords" value="拍摄nice(123)">
                            <span class="kakaui-input-label__text">拍摄nice(123)</span>
                        </label>
                        <label>
                            <input type="checkbox" name="keywords" value="后期nice(16)">
                            <span class="kakaui-input-label__text">后期nice(16)</span>
                        </label>
                        <label>
                            <input type="checkbox" name="keywords" value="服务热情(1234)">
                            <span class="kakaui-input-label__text">服务热情(1234)</span>
                        </label>
                        <label>
                            <input type="checkbox" name="keywords" value="准时(17)">
                            <span class="kakaui-input-label__text">准时(17)</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="kakaui-panel kakaui-panel_access">
            <div class="kakaui-panel__bd">
                <div class="kakaui-media-box kakaui-media-box_appmsg">
                    <div class="kakaui-comment">
                        <div class="kakaui-comment-hd">
                            <span class="kakaui-comment-avatar">
                                <img src="../../kakaui/images/kaka/avatar.png" alt="">
                            </span>
                            <span class="kakaui-comment-date">
                                11月9日
                            </span>
                            <div class="kakaui-comment-stars">
                                <div class="kakaui-comment-phone">
                                    123****1234
                                </div>
                                <ul class="kakaui-stars">
                                    <li class="stared">
                                        <i class="kakaui-icon-star"></i>
                                    </li>
                                    <li class="stared">
                                        <i class="kakaui-icon-star"></i>
                                    </li>
                                    <li class="stared">
                                        <i class="kakaui-icon-star"></i>
                                    </li>
                                    <li class="stared">
                                        <i class="kakaui-icon-star"></i>
                                    </li>
                                    <li class="stared">
                                        <i class="kakaui-icon-star"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="kakaui-comment-bd">
                            <p class="kakaui-comment-content">
                                拍摄技术很好，摄影师很负责。来家里的时间很准时，很期待照片出来。很感谢卡卡。
                            </p>
                        </div>
                        <div class="kakaui-comment-ft">
                            <div class="kakaui-comment-images">
                                <a href="javascript:;" class="like-btn">
                                    赞
                                </a>
                                <ul class="kakaui-comment-thumbs">
                                    <li>
                                        <img src="../../kakaui/images/kaka/thumb1.png" alt="">
                                    </li>
                                    <li>
                                        <img src="../../kakaui/images/kaka/thumb2.png" alt="">
                                    </li>
                                    <li>
                                        <img src="../../kakaui/images/kaka/thumb3.png" alt="">
                                    </li>
                                </ul>
                            </div>
                            <span class="liked-statistic">
                                76人觉得很赞
                            </span>
                        </div>
                    </div>
                </div>
                <div class="kakaui-media-box kakaui-media-box_appmsg">
                    <div class="kakaui-comment">
                        <div class="kakaui-comment-hd">
                            <span class="kakaui-comment-avatar">
                                <img src="../../kakaui/images/kaka/avatar.png" alt="">
                            </span>
                            <span class="kakaui-comment-date">
                                11月9日
                            </span>
                            <div class="kakaui-comment-stars">
                                <div class="kakaui-comment-phone">
                                    123****1234
                                </div>
                                <ul class="kakaui-stars">
                                    <li class="stared">
                                        <i class="kakaui-icon-star"></i>
                                    </li>
                                    <li class="stared">
                                        <i class="kakaui-icon-star"></i>
                                    </li>
                                    <li class="stared">
                                        <i class="kakaui-icon-star"></i>
                                    </li>
                                    <li class="stared">
                                        <i class="kakaui-icon-star"></i>
                                    </li>
                                    <li class="stared">
                                        <i class="kakaui-icon-star"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="kakaui-comment-bd">
                            <p class="kakaui-comment-content">
                                拍摄技术很好，摄影师很负责。来家里的时间很准时，很期待照片出来。很感谢卡卡。
                            </p>
                        </div>
                        <div class="kakaui-comment-ft">
                            <div class="kakaui-comment-images">
                                <a href="javascript:;" class="like-btn like-btn-checked">
                                    赞
                                </a>
                            </div>
                            <span class="liked-statistic">
                                76人觉得很赞
                            </span>
                        </div>
                    </div>
                </div>
                <div class="kakaui-media-box kakaui-media-box_appmsg">
                    <div class="kakaui-comment">
                        <div class="kakaui-comment-hd">
                            <span class="kakaui-comment-avatar">
                                <img src="../../kakaui/images/kaka/avatar.png" alt="">
                            </span>
                            <span class="kakaui-comment-date">
                                11月9日
                            </span>
                            <div class="kakaui-comment-stars">
                                <div class="kakaui-comment-phone">
                                    123****1234
                                </div>
                                <ul class="kakaui-stars">
                                    <li class="stared">
                                        <i class="kakaui-icon-star"></i>
                                    </li>
                                    <li class="stared">
                                        <i class="kakaui-icon-star"></i>
                                    </li>
                                    <li class="stared">
                                        <i class="kakaui-icon-star"></i>
                                    </li>
                                    <li class="stared">
                                        <i class="kakaui-icon-star"></i>
                                    </li>
                                    <li class="stared">
                                        <i class="kakaui-icon-star"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="kakaui-comment-bd">
                            <p class="kakaui-comment-content">
                                拍摄技术很好，摄影师很负责。来家里的时间很准时，很期待照片出来。很感谢卡卡。
                            </p>
                        </div>
                        <div class="kakaui-comment-ft">
                            <div class="kakaui-comment-images">
                                <a href="javascript:;" class="like-btn">
                                    赞
                                </a>
                                <ul class="kakaui-comment-thumbs">
                                    <li>
                                        <img src="../../kakaui/images/kaka/thumb1.png" alt="">
                                    </li>
                                    <li>
                                        <img src="../../kakaui/images/kaka/thumb2.png" alt="">
                                    </li>
                                </ul>
                            </div>
                            <span class="liked-statistic">
                                76人觉得很赞
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>