<div class="page">
    <div class="page__navigator">
        <a class="page__navigator_left kakaui-icon-left-arrow"></a>
        <h1 class="page__title">
            我的优惠劵
        </h1>
        <a class="page__navigator_right">
            <img class="kakaui__logo" src="../../kakaui/images/kaka/logo_sm.png" alt="卡卡客服">
        </a>
    </div>
    <div class="page__bd page__bd_height100">
        <div class="kakaui-tab">
            <div class="kakaui-navbar">
                <div class="kakaui-navbar__item kakaui-bar__item_on" data-target="notUsedCoupons">
                    未使用(1)
                </div>
                <div class="kakaui-navbar__item" data-target="usedCoupons">
                    已使用(2)
                </div>
                <div class="kakaui-navbar__item" data-target="expiredCoupons">
                    已过期(0)
                </div>
            </div>
            <div class="kakaui-tab__panel spacing">
                <div class="kakaui-tab__content kakaui-tab__content_on" id="notUsedCoupons">
                    <div class="kakaui-coupon">
                        <div class="kakaui-coupon-bd">
                            <div class="kakaui-coupon-text">
                                <h1>￥<span class="price">99</span>优惠劵</h1>
                                <p>优惠码:419252642</p>
                            </div>
                        </div>
                        <div class="kakaui-coupon-ft dark-gray">
                            <span>使用期限: 2016.05.05~2016.11.11</span>
                            <span class="pull-right">未使用</span>
                        </div>
                    </div>
                </div>
                <div class="kakaui-tab__content" id="usedCoupons">
                    <div class="kakaui-coupon kakaui-coupon_gray">
                        <div class="kakaui-coupon-bd">
                            <div class="kakaui-coupon-text">
                                <h1>￥<span class="price">99</span>优惠劵</h1>
                                <p>优惠码:419252642</p>
                            </div>
                        </div>
                        <div class="kakaui-coupon-ft dark-gray">
                            <span>使用期限: 2016.05.05~2016.11.11</span>
                            <span class="pull-right">已使用</span>
                        </div>
                    </div>
                    <div class="kakaui-coupon kakaui-coupon_gray">
                        <div class="kakaui-coupon-bd">
                            <div class="kakaui-coupon-text">
                                <h1>￥<span class="price">99</span>优惠劵</h1>
                                <p>优惠码:419252642</p>
                            </div>
                        </div>
                        <div class="kakaui-coupon-ft dark-gray">
                            <span>使用期限: 2016.05.05~2016.11.11</span>
                            <span class="pull-right">已使用</span>
                        </div>
                    </div>
                </div>
                <div class="kakaui-tab__content" id="expiredCoupons">

                </div>
            </div>
        </div>
    </div>
</div>