<div class="page">
    <div class="page__navigator">
        <a class="page__navigator_left kakaui-icon-left-arrow"></a>
        <h1 class="page__title">
            优惠劵详情
        </h1>
        <a class="page__navigator_right">
            <img class="kakaui__logo" src="../../kakaui/images/kaka/logo_sm.png" alt="卡卡客服">
        </a>
    </div>
    <div class="page__bd page__bd_spacing">
        <div class="kakaui-coupon">
            <div class="kakaui-coupon-bd">
                <div class="kakaui-coupon-text">
                    <h1>￥<span class="price">99</span>优惠劵</h1>
                    <p>优惠码:419252642</p>
                </div>
            </div>
            <div class="kakaui-coupon-ft dark-gray">
                <span>使用期限: 2016.05.05~2016.11.11</span>
                <span class="pull-right">未使用</span>
            </div>
        </div>
        <div class="kakaui-panel must-known">
            <div class="kakaui-panel__hd">
                <h2>使用须知</h2>
            </div>
            <div class="kakaui-panel__bd">
                <div class="kakaui-media-box kakaui-media-box_text">
                    <p class="kakaui-media-box__desc">
                        <ul class="must-known-list">
                            <li>限卡卡玩拍拍摄服务使用/限卡卡玩拍印品商城商品使用</li>
                            <li>限在活动日期: 2015.05.05~2016.11.11使用</li>
                            <li>支付尾款时在"优惠劵"中选择即可抵扣相应金额或相应折扣</li>
                            <li>优惠劵每次只能使用一张，不可转让他人不兑换</li>
                            <li>成功支付尾款后优惠劵即作废</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>