<div class="page">
    <div class="page__hd">
        <h1 class="page__title">Icons</h1>
        <p class="page__desc">图标</p>
    </div>
    <div class="page__bd page__bd_spacing">
        <div class="icon-box">
            <i class="kakaui-icon-success kakaui-icon_msg"></i>
            <div class="icon-box__ctn">
                <h3 class="icon-box__title">成功</h3>
                <p class="icon-box__desc">用于表示操作顺利达成</p>
            </div>
        </div>
        <div class="icon-box">
            <i class="kakaui-icon-info kakaui-icon_msg"></i>
            <div class="icon-box__ctn">
                <h3 class="icon-box__title">提示</h3>
                <p class="icon-box__desc">用于表示信息提示；也常用于缺乏条件的操作拦截，提示用户所需信息</p>
            </div>
        </div>
        <div class="icon-box">
            <i class="kakaui-icon-warn kakaui-icon_msg-primary"></i>
            <div class="icon-box__ctn">
                <h3 class="icon-box__title">普通警告</h3>
                <p class="icon-box__desc">用于表示操作后将引起一定后果的情况</p>
            </div>
        </div>
        <div class="icon-box">
            <i class="kakaui-icon-warn kakaui-icon_msg"></i>
            <div class="icon-box__ctn">
                <h3 class="icon-box__title">强烈警告</h3>
                <p class="icon-box__desc">用于表示操作后将引起严重的不可挽回的后果的情况</p>
            </div>
        </div>
        <div class="icon-box">
            <i class="kakaui-icon-waiting kakaui-icon_msg"></i>
            <div class="icon-box__ctn">
                <h3 class="icon-box__title">等待</h3>
                <p class="icon-box__desc">用于表示等待</p>
            </div>
        </div>
        <div class="icon_sp_area" style="font-size: 60px">
            <i class="kakaui-icon-success"></i>
            <i class="kakaui-icon-success-no-circle"></i>
            <i class="kakaui-icon-circle"></i>
            <i class="kakaui-icon-warn"></i>
            <i class="kakaui-icon-download"></i>
            <i class="kakaui-icon-info-circle"></i>
            <i class="kakaui-icon-cancel"></i>
            <i class="kakaui-icon-search"></i>
        </div>
        <div class="icon_sp_area" style="font-size: 60px">
            <i class="kakaui-icon-left-arrow"></i>
            <i class="kakaui-icon-cross"></i>
            <i class="kakaui-icon-forward-circle"></i>
            <i class="kakaui-icon-cellphone"></i>
            <i class="kakaui-icon-lock"></i>
            <i class="kakaui-icon-cross-circle"></i>
            <i class="kakaui-icon-check"></i>
            <i class="kakaui-icon-tag"></i>
            <i class="kakaui-icon-bell"></i>
            <i class="kakaui-icon-notebook"></i>
            <i class="kakaui-icon-map_marker"></i>
            <i class="kakaui-icon-user"></i>
            <i class="kakaui-icon-shop"></i>
            <i class="kakaui-icon-picture"></i>
            <i class="kakaui-icon-heart-white"></i>
            <i class="kakaui-icon-heart"></i>
            <i class="kakaui-icon-star"></i>
            <i class="kakaui-icon-upload-image"></i>
        </div>
    </div>
    <div class="page__ft">
        <a href="javascript:home()"><img src="./images/icon_footer_link.png" /></a>
    </div>
</div>