<div class="page">
    <div class="page__navigator">
        <a class="page__navigator_back kakaui-icon-left-arrow"></a>
        <h1 class="page__title">
            卡卡印品
        </h1>
    </div>
    <div class="page__bd page__bd_height100">
        <div class="kakaui-tab">
            <div class="kakaui-navbar">
                <div class="kakaui-navbar__item kakaui-bar__item_on">
                    选项一
                </div>
                <div class="kakaui-navbar__item">
                    选项二
                </div>
                <div class="kakaui-navbar__item">
                    选项三
                </div>
            </div>
            <div class="kakaui-tab__panel">
                <p>1asdasd</p>
                <p>asdasd</p>
                <p>asdasd</p>
                <p>asdasd</p>
                <p>asdasd</p>
                <p>asdasd</p>
                <p>asdasd</p>
                <p>asdasd</p>
                <p>asdasd</p>
                <p>asdasd</p>
                <p>asdasd</p>
                <p>asdasd</p>
                <p>asdasd</p>
                <p>asdasd</p>
                <p>asdasd</p>
                <p>asdasd</p>
                <p>asdasd</p>
                <p>asdasd</p>
                <p>asdasd</p>
                <p>asdasd</p>
                <p>asdasd</p>
                <p>asdasd</p>
                <p>asdasd</p>
                <p>asdasd</p>
                <p>asdasd</p>
                <p>asdasd</p>
                <p>asdasd</p>
                <p>asdasd</p>
                <p>asdasd</p>
                <p>asdasd</p>
                <p>asdasd</p>
                <p>asdasd</p>
                <p>asdasd</p>
                <p>asdasd</p>
                <p>asdasd</p>
                <p>asdasd</p>
                <p>asdasd</p>
                <p>asdasd</p>
                <p>asdasd</p>
                <p>asdasd</p>
            </div>
            <div class="kakaui-tabbar">
                <a href="javascript:;" class="kakaui-tabbar__item kakaui-bar__item_on">
                    <span style="display: inline-block;position: relative;">
                        <i class="kakaui-tabbar__icon kakaui-icon-picture"></i>
                        <span class="kakaui-badge" style="position: absolute;top: -2px;right: 0;">8</span>
                    </span>
                    <p class="kakaui-tabbar__label">微信</p>
                </a>
                <a href="javascript:;" class="kakaui-tabbar__item">
                    <i class="kakaui-tabbar__icon kakaui-icon-notebook"></i>
                    <p class="kakaui-tabbar__label">通讯录</p>
                </a>
                <a href="javascript:;" class="kakaui-tabbar__item">
                    <span style="display: inline-block;position: relative;">
                        <i class="kakaui-tabbar__icon kakaui-icon-shop"></i>
                        <span class="kakaui-badge kakaui-badge_dot" style="position: absolute;top: 0;right: 0;"></span>
                    </span>
                    <p class="kakaui-tabbar__label">发现</p>
                </a>
                <a href="javascript:;" class="kakaui-tabbar__item">
                    <i class="kakaui-tabbar__icon kakaui-icon-user"></i>
                    <p class="kakaui-tabbar__label">我</p>
                </a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

</script>