<div class="page">
    <div class="page__navigator">
        <a class="page__navigator_left kakaui-icon-left-arrow"></a>
        <h1 class="page__title">
            订单详情
        </h1>
        <a class="page__navigator_right">
            <img class="kakaui__logo" src="../../kakaui/images/kaka/logo_sm.png" alt="卡卡客服">
        </a>
    </div>
    <div class="page__bd">
        <div class="kakaui-panel kakaui-panel_access">
            <div class="kakaui-panel__hd">
                <div class="order-process">
                    <img src="../../kakaui/images/kaka/order_process.png" alt="">
                </div>
            </div>
            <div class="kakaui-panel__bd">
                <div class="kakaui-media-box kakaui-media-box_text">
                    <div class="kakaui-media-box__bd">
                        <h4 class="kakaui-media-box__title">A8 699上门拍摄B套系</h4>
                        <p class="kakaui-media-box__desc">
                            底片/精修: 100张底片/60张精修照
                        </p>
                        <p class="kakaui-media-box__desc">
                            已付定金：￥99.00
                        </p>
                        <p class="kakaui-media-box__desc">
                            已付尾款：￥600.00
                        </p>
                        <p class="kakaui-media-box__desc text-right">
                            原价: <span class="text-revoke">￥999.00</span>
                        </p>
                        <p class="kakaui-media-box__desc text-right">
                            <span class="kakaui-price__discount">折扣价: ￥699.00</span>
                        </p>
                    </div>
                </div>
                <a href="javascript:void(0);" class="kakaui-cell kakaui-cell_access">
                    <div class="kakaui-cell__bd">
                        <p class="kakaui-media-box__desc">
                            <span>收款人: 某某某</span>
                            <span class="pull-right">123****1234</span>
                        </p>
                        <p class="kakaui-media-box__desc">
                            收款地址: 河南省郑州市曼哈顿商业广场1单元2号楼801
                        </p>
                    </div>
                    <span class="kakaui-cell__ft"></span>
                </a>
                <div class="kakaui-media-box kakaui-media-box_text">
                    <div class="kakaui-media-box__bd">
                        <p class="kakaui-media-box__desc">
                            订单编号: 1234567891234
                        </p>
                        <p class="kakaui-media-box__desc">
                            下单时间: 2016.05.30
                        </p>
                        <p class="kakaui-media-box__desc">
                            拍摄时间: 2016.06.01
                        </p>
                        <p class="kakaui-media-box__desc">
                            拍摄地点: 河南省郑州市曼哈顿商业广场801
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-sp-area">
            <div class="kakaui-btn-group">
                <a href="javascript:;" class="kakaui-btn kakaui-btn_yellow">前往评价</a>
                <a href="javascript:;" class="kakaui-btn kakaui-btn_orange">查看图片</a>
            </div>
        </div>
    </div>
</div>