<div class="page">
    <div class="page__navigator">
        <a class="page__navigator_back kakaui-icon-left-arrow"></a>
        <h1 class="page__title">
            个人中心
        </h1>
    </div>
    <div class="page__bd page__bd_height100">
        <div class="kakaui-tab">
            <div class="page__banner">
                <div class="kakaui__avatar kakaui-actionsheet__trigger" data-target="actionsheet">
                </div>
                <span class="white">15716425280</span>
            </div>
            <div class="kakaui-tab__panel">
                <div class="kakaui-panel__bd">
                    <div class="kakaui-media-box kakaui-media-box_small-appmsg">
                        <div class="kakaui-cells">
                            <a class="kakaui-cell kakaui-cell_access" href="javascript:;">
                                <div class="kakaui-cell__hd">
                                    <i class="kakaui-icon-notebook"></i>
                                </div>
                                <div class="kakaui-cell__bd kakaui-cell_primary">
                                    <p>我的订单</p>
                                </div>
                                <span class="kakaui-cell__ft"></span>
                            </a>
                            <a class="kakaui-cell kakaui-cell_access" href="#coupon">
                                <div class="kakaui-cell__hd">
                                    <i class="kakaui-icon-tag"></i>
                                </div>
                                <div class="kakaui-cell__bd kakaui-cell_primary">
                                    <p>我的优惠劵</p>
                                </div>
                                <span class="kakaui-cell__ft"></span>
                            </a>
                            <a class="kakaui-cell kakaui-cell_access" href="javascript:;">
                                <div class="kakaui-cell__hd">
                                    <i class="kakaui-icon-map_marker"></i>
                                </div>
                                <div class="kakaui-cell__bd kakaui-cell_primary">
                                    <p>我的收货地址</p>
                                </div>
                                <span class="kakaui-cell__ft"></span>
                            </a>
                            <a class="kakaui-cell kakaui-cell_access" href="javascript:;">
                                <div class="kakaui-cell__hd">
                                    <i class="kakaui-icon-bell"></i>
                                </div>
                                <div class="kakaui-cell__bd kakaui-cell_primary">
                                    <p>拍摄须知</p>
                                </div>
                                <span class="kakaui-cell__ft"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kakaui-tabbar">
                <a href="javascript:;" class="kakaui-tabbar__item">
                    <span style="display: inline-block;position: relative;">
                        <i class="kakaui-tabbar__icon kakaui-icon-picture"></i>
                    </span>
                    <p class="kakaui-tabbar__label">客片欣赏</p>
                </a>
                <a href="javascript:;" class="kakaui-tabbar__item">
                    <i class="kakaui-tabbar__icon kakaui-icon-notebook"></i>
                    <p class="kakaui-tabbar__label">套系详情</p>
                </a>
                <a href="javascript:;" class="kakaui-tabbar__item">
                    <p class="kakaui-tabbar__label">
                        <img src="../../kakaui/images/kaka/click_me.png" />
                    </p>
                </a>
                <a href="javascript:;" class="kakaui-tabbar__item">
                    <span style="display: inline-block;position: relative;">
                        <i class="kakaui-tabbar__icon kakaui-icon-shop"></i>
                    </span>
                    <p class="kakaui-tabbar__label">饮品商城</p>
                </a>
                <a href="javascript:;" class="kakaui-tabbar__item kakaui-bar__item_on">
                    <i class="kakaui-tabbar__icon kakaui-icon-user"></i>
                    <p class="kakaui-tabbar__label">个人中心</p>
                </a>
            </div>
        </div>
    </div>
    <div>
        <div class="kakaui-mask" id="mask" style="display: none"></div>
        <div class="kakaui-actionsheet" id="actionsheet">
            <div class="kakaui-actionsheet__menu">
                <div class="kakaui-actionsheet__cell">从卡卡相册选择</div>
                <div class="kakaui-actionsheet__cell">从手机选择</div>
            </div>
            <div class="kakaui-actionsheet__action">
                <div class="kakaui-actionsheet__cell kakaui-actionsheet__cancel">取消</div>
            </div>
        </div>
    </div>
</div>