<div class="page">
    <div class="page__navigator">
        <a class="page__navigator_left kakaui-icon-left-arrow"></a>
        <h1 class="page__title">
            印品支付
        </h1>
        <a class="page__navigator_right">
            <img class="kakaui__logo" src="../../kakaui/images/kaka/logo_sm.png" alt="卡卡客服">
        </a>
    </div>
    <div class="page__bd">
        <div class="kakaui-panel kakaui-panel_access">
            <div class="kakaui-panel__bd photo-truing">
                <a href="javascript:void(0);" class="kakaui-media-box kakaui-media-box_appmsg">
                    <div class="kakaui-media-box__hd">
                        <img class="kakaui-media-box__thumb" src="../../kakaui/images/kaka/truing.png" alt="">
                    </div>
                    <div class="kakaui-media-box__bd">
                        <h4 class="kakaui-media-box__title">原片精修</h4>
                        <p class="kakaui-media-box__desc">
                            大师级美工精心修饰
                        </p>
                        <p class="kakaui-media-box__desc text-right">
                            ￥5.00
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="kakaui-cells kakaui-cells_form">
            <div class="kakaui-cell">
                <div class="kakaui-cell__hd"><label class="kakaui-label">印品数量:</label></div>
                <div class="kakaui-cell__bd">
                    <input class="kakaui-input" type="number">
                </div>
            </div>
            <div class="kakaui-cell">
                <div class="kakaui-cell__hd">
                    <label class="kakaui-label">运费:</label>
                </div>
                <div class="kakaui-cell__bd">
                    全国包邮
                </div>
            </div>
            <div class="kakaui-cell">
                <div class="kakaui-cell__hd"><label class="kakaui-label">总计金额:</label></div>
                <div class="kakaui-cell__bd">
                    <span class="red">￥50</span>
                </div>
            </div>
        </div>
        <div class="kakaui-panel kakaui-panel_access">
            <div class="kakaui-panel__bd">
                <a href="javascript:void(0);" class="kakaui-cell kakaui-cell_access">
                    <div class="kakaui-cell__bd">
                        <p class="kakaui-media-box__desc">
                            <span>收款人: 某某某</span>
                            <span class="pull-right">123****1234</span>
                        </p>
                        <p class="kakaui-media-box__desc">
                            收款地址: 河南省郑州市曼哈顿商业广场1单元2号楼801
                        </p>
                    </div>
                    <span class="kakaui-cell__ft"></span>
                </a>
            </div>
        </div>
        <div class="kakaui-btn-area">
            <button class="kakaui-btn kakaui-btn_orange">确认订单, 付款</button>
        </div>
    </div>
</div>