<div class="page">
    <div class="page__close"></div>
    <div class="page__hd">
        <div class="text-center">
            <img src="./images/kaka/logo.png" width="50px" alt="">
        </div>
    </div>
    <div class="page__bd page__bd_spacing">
        <form>
            <div class="kakaui-cells kakaui-cells__material">
                <div class="kakaui-cell">
                    <i class="kakaui-icon-cellphone"></i>
                    <div class="kakaui-cell__bd">
                        <input class="kakaui-input" type="number" placeholder="手机号">
                    </div>
                </div>
            </div>
            <div class="kakaui-cells kakaui-cells__material">
                <div class="kakaui-cell kakaui-cell_vcode">
                    <div class="kakaui-cell__bd">
                        <input class="kakaui-input" type="tel" placeholder="验证码">
                    </div>
                    <div class="kakaui-cell__ft">
                        <button class="kakaui-vcode-btn">获取验证码</button>
                    </div>
                </div>
            </div>
            <div class="kakaui-cells kakaui-cells__material">
                <div class="kakaui-cell">
                    <i class="kakaui-icon-lock"></i>
                    <div class="kakaui-cell__bd">
                        <input class="kakaui-input" type="password" placeholder="密码">
                    </div>
                </div>
            </div>
            <div class="kakaui-cells kakaui-cells__material">
                <span class="pull-right dark-gray">忘记密码?</span>
            </div>
            <div class="mt-30">
                <a href="javascript:;" class="kakaui-btn kakaui-btn_orange">注册</a>
                <div class="text-center mt-15">
                    <span class="dark-gray">没有账号?</span>
                    <span class="orange">立即注册<i class="kakaui-icon-forward-circle"></i></span>
                </div>
            </div>
        </form>
    </div>
    <div class="page__ft">
        <a href="javascript:home()" class="dark-gray">
            ©喜仔科技
        </a>
    </div>
</div>