<div class="page">
    <div class="page__navigator">
        <a class="page__navigator_back kakaui-icon-left-arrow"></a>
        <h1 class="page__title">
            收货地址
        </h1>
    </div>
    <div class="page__bd">
        <form>
            <div class="kakaui-panel kakaui-panel_access">
                <div class="kakaui-panel__bd">
                    <label class="kakaui-media-box kakaui-media-box_text">
                        <p class="kakaui-media-box__desc">
                        <span>
                            收货人: 某某某
                        </span>
                            <span class="pull-right">
                            123****1234
                            <input type="radio" class="kakaui-check" value="1" name="address" checked="checked">
                            <i class="kakaui-icon-checked"></i>
                        </span>
                        </p>
                        <p class="kakaui-media-box__desc">
                            收货地址: 河南省郑州市曼哈顿商业广场七单元2号楼801
                        </p>
                    </label>
                    <label class="kakaui-media-box kakaui-media-box_text">
                        <p class="kakaui-media-box__desc">
                        <span>
                            收货人: 某某某
                        </span>
                            <span class="pull-right">
                            123****1234
                            <input type="radio" class="kakaui-check" value="2" name="address">
                            <i class="kakaui-icon-checked"></i>
                        </span>
                        </p>
                        <p class="kakaui-media-box__desc">
                            收货地址: 河南省郑州市曼哈顿商业广场七单元2号楼801
                        </p>
                    </label>
                </div>
                <div class="kakaui-panel__ft">
                    <a href="#shipping_address_add" class="kakaui-cell kakaui-cell_access kakaui-cell_link">
                        <div class="kakaui-cell__bd text-center">
                            <i class="kakaui-icon-plus"></i>添加收货地址
                        </div>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>