<div class="page">
    <div class="page__navigator">
        <a class="page__navigator_back kakaui-icon-left-arrow"></a>
        <h1 class="page__title">
            修改收货地址
        </h1>
    </div>
    <div class="page__bd">
        <form>
            <div class="kakaui-cells kakaui-cells_form kakaui-cells_checkbox">
                <div class="kakaui-cell">
                    <div class="kakaui-cell__hd"><label class="kakaui-label">收货人姓名:</label></div>
                    <div class="kakaui-cell__bd">
                        <input class="kakaui-input text-right" type="text">
                    </div>
                </div>
                <div class="kakaui-cell">
                    <div class="kakaui-cell__hd">
                        <label class="kakaui-label">联系电话:</label>
                    </div>
                    <div class="kakaui-cell__bd">
                        <input class="kakaui-input text-right" type="tel">
                    </div>
                </div>
                <div class="kakaui-cell">
                    <div class="kakaui-cell__hd"><label for="" class="kakaui-label">详细地址:</label></div>
                    <div class="kakaui-cell__bd">
                        <input class="kakaui-input text-right" type="text" value="">
                    </div>
                </div>
                <label class="kakaui-cell kakaui-check__label" for="s11">
                    <div class="kakaui-cell__bd">
                        <p>设为默认地址:</p>
                    </div>
                    <div class="kakaui-cell__hd">
                        <input type="checkbox" class="kakaui-check" name="checkbox1" id="s11" checked="checked">
                        <i class="kakaui-icon-checked"></i>
                    </div>
                </label>
            </div>
            <div class="kakaui-btn-area">
                <a class="kakaui-btn kakaui-btn_orange" href="javascript:">确定</a>
            </div>
        </form>
    </div>
</div>